[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = "probe-run --chip RP2040"

[build]
target = "thumbv6m-none-eabi"
rustflags = "-Cllvm-args=--enable-machine-outliner=never"

[env]
DEFMT_LOG = "debug"
